body{
    padding: 0;
    margin: 0;
}

/* START MENU */


/*de achtergrond*/
header{
    background-color: rgb(36, 36, 36, 0.9);
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 100;
    
  clip-path: circle(0rem at calc(100% - 2rem) calc(100% - 3rem));
  transition: clip-path 0.5s ease-in-out;
}

/*hoe het menu tevoorschijn komt*/
.show-menu {
    clip-path: circle(80%);
  }


.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

/*tekst in het menu*/
.kopje {
    /* display: flex;
    justify-content: center; */
    font-family:"Poppins", sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin-top: .4em;
}


ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    height: 95.6vh;
    /* gap: 2em; */
    /* justify-items: center; */
    padding: 0 4rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */

}

.svg-home{
  margin-top: .3em;
}

.svg-testing{
    margin-top: .3em; 
}

.svg-lessons-nav{
    margin-top: .3em; 
}

.svg-{
    margin-top: .3em; 
}

.svg-statistics{
    margin-top: .3em; 
}

.svg-profile{
    margin-top: .3em; 
}


/*de achtergrond van de kopjes*/
.menu .home {
    background-color: #3f92b6;
    width: 5em;
    height: 5em;
    border: 1px solid white;

}

.menu .testing {
    background-color: #599ae7;
    width: 5em;
    height: 5em;
    border: 1px solid white;
}

.menu .statistics {
    background-color: #06a192; 
    width: 5em;
    height: 5em;
    border: 1px solid white;
}

.menu .profile {
    background-color: #fd8c73;
    width: 5em;
    height: 5em;
    border: 1px solid white;
}

.menu .lessons-nav {
    background-color: rgb(134, 97, 169);
    width: 5em;
    height: 5em;
    border: 1px solid white;
}


/*hovers over li*/
.home:hover {
    /* border: .5px solid white; */
    border: 3px solid white;
    filter: brightness(120%);
}

.testing:hover {
    /* border: .5px solid white; */
    border: 3px solid white;
    filter: brightness(120%);
}

.statistics:hover {
    /* border: .5px solid white; */
    border: 3px solid white;
    filter: brightness(120%);
}

.lessons-nav:hover {
    /* border: .5px solid white; */
    border: 3px solid white;
    filter: brightness(120%);
}

.profile:hover {
    /* border: .5px solid white; */
    border: 3px solid white;
    filter: brightness(120%);
}


/* EINDE MENU */




/* START HOME */

/*achtergrond*/
main {
    background-color: #3f92b6;
    background-image: url(assets/house-mouse.svg); 
    height: 100vh;
    background-size: cover;
    line-height: 1.5;
    gap: 2em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*tekstballon*/
.wolkje {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    height:7em;
    margin-bottom:3em;
    border-radius: 1.5em;
    width: 225px;
    margin-left: 1em;
}


/*uitsteksel bij het wolkje om het een tekstwolkje word*/
.wolkje::after {
    content:"";
    position: absolute;
    top:calc(100% - .5px);
    left:2em;
    width:8em;
    height:3em;

    background-color: inherit;

    clip-path:polygon(
        40% 0%,
        80% 0%,
        90% 90%,
        40% 0%)
}


/*button let's do it in de tekstballon*/
.lessons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6a64bf;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: .5em;
    border-radius: 5px;
}


.lessons:hover {
    background-color: #502d8e;
}


/*tekst in tekstballon*/
h1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: .2em;
    font-weight: normal;
}

/*tekst in wolkje*/
span {
    display: block;
}


/*muis en wolkje samen*/
.info {
    width: 330px;
    margin: 0 auto;
    grid-row: 2;
    align-self: end;
}

/*wolkje na 12 uur 's nachts*/
.moved-down .greeting, .moved-down .sub-text {
    transform: translateY(-.8em);
    /* Pas de waarde aan voor meer of minder verschuiving */
    transition: transform 0.5s ease;
    /* Voegt een animatie toe voor de beweging */
}


.moved-down .lessons{
    display: none;
}


.moved-down .goodnight-message{
    display: block;
}


/*extra tekst die na 12 uur 's nachts komt*/
.goodnight-message {
    display: none;
    margin-top: -1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16x;
}

/*tekst tomorrow na 12 uur 's nachts*/
.purple {
    color: #6a64bf;
    font-size: 16px;
}

/*button naar menu*/
button{
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    width: 5em;
    height: 5em;
    border: none; 
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 101;
    
}

/* EINDE HOME */




